<div class="navbar navbar-fixed-top"> <ul class="nav"><li{{#index}} class="active"{{/index}}><a href="index">Home</a></li><li{{#whatisit}} class="active"{{/whatisit}}><a href="whatisit">What is This?</a></li></ul></div>
