@import 'nib'
@import '../shared/reset'

iframe.tldr-embed-widget
  tldr-reset()
  width 100%
  overflow hidden
  padding 0px 0px
  background white
  display: block;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
  border-width: 1px;
  border-style: solid;
  max-width: 99%;
  min-width: 220px;
  margin: 10px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;

blockquote.tldr-embed-widget
  width 500px
