<span class="cta-summarize">
  Heads up! Click the green tldr button to display a summary of this
  page.
</span>
<img class="screenshot-chrome" src="{{imgPath}}">
<div class="info"> This message will never appear again</div>
