@import 'nib'

[class^="icon-"], [class*=" icon-"]
  //background-image url(chrome-extension://ohmamcbkcmfalompaelgoepcnbnpiioe/assets/img/glyphicons-halflings.png)
  background-image url(../img/glyphicons-halflings.png)
.icon-stop
  background-position -312px -72px

/*Needs to be set otherwise it's set to 0. see why*/
body
  width 550px
  .easter-img
    display block
    margin 0 auto

.btn
  font-weight bold
