.read-summary-guidelines
  margin-bottom -8px
  .guidelines-container
    display none
    .close
      top -12px
    .guidelines
      margin-top 6px
      font-size 12px
    button
      margin-top 8px
