@import 'nib'
@import '../shared/reset'

.tldr-label-d4a6ebe3
  tldr-reset-inline()
  background-color #999 !important
  border-radius 2px !important
  cursor pointer !important
  display inline-block !important
  margin-left 2px !important
  padding 1px 2px 1px 3px !important
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif !important
  font-weight 400 !important
  line-height 14px !important
  text-shadow rgba(0, 0, 0, 0.25) 0px -1px 0px !important
  letter-spacing 0.1em !important
  margin-left 8px !important
  a, a:hover
    background-color #999 !important
    text-decoration none !important
    color white !important
    font-size 10px !important


.tldr-missing
  background-color #981217 !important

.tldr-present
  background-color #238e14

.tldr-preview
  background-color #999
