@import 'nib'
@import 'animations'

.install-bm-container
  display block
  clear both
  margin-top 18px
  width 550px
  position relative

#install-bm-btn
  cursor move
  shake()

#install-bm-comment-action
  color #ff6600

.screenshot-install-bm
  margin -10px 0px 12px 91px

.bookmarkbar-indication
  margin-top 22px

.install-bm-link-and-comment
  margin-left 91px

