@import 'nib'

/* Buttons
-------------------------------------------------- */
.btn
  font-weight bold

/* Forms
-------------------------------------------------- */
label
  cursor pointer

form
  margin-bottom 0
  font-size 12px

.dropdown-form
    padding: 15px;
    left: auto;
    right: 0px;

.dropdown-form label
    color: rgb(51, 51, 51);

/* Body
-------------------------------------------------- */
html
  height 100%
body
  background-color: whitesmoke
  background-image url("../img/exclusive_paper.jpg")
  height 100%
  //font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif

/* Scaffolding
-------------------------------------------------- */
.all-but-footer
  min-height 100%

/* White background well */
.well-white
  background-color white
  border 1px solid #DDD
  box-shadow 0px 0px 0px 4px #666
  border-radius 4px
  margin-top 41px
  padding 15px

/* Navbar
-------------------------------------------------- */
.navbar .nav > li > a
    font-weight: bold;

.nav
  small
    font-weight normal
    font-size 12px

.small-avatar
  border-radius 3px

/* Marketing section of Overview
-------------------------------------------------- */
.marketing
  position relative
  .row
    margin-bottom 9px
  h1
   font-size 40px
   font-weight 300
   margin 36px 0 27px
   text-align center
  h2, h3
   font-weight 300
  h2
   font-size 22px
  p
   margin-right 10px

.marketing-byline
  color #999
  font-size 18px
  font-weight 300
  line-height 24px
  margin -18px 0 27px
  text-align center


.marketing-tip
  max-width 620px
  margin 20px auto
  text-align center

