@import 'nib'
@import '../shared/reset'


#tldr-popover-d4a6ebe3
  tldr-reset()
  cursor default
  position absolute
  z-index 1140
  background transparent
  display none
  &.firefox
    display block
    opacity 0
  iframe
    border none
    width 612px
    background transparent

