.tldr-popover
  .branding
    text-align: center;
    font-size: 8px;
    line-height: 9px;
    border-top: 1px solid #e8e8e8;
    margin-top: 4px;
    background-color: #414141;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-shadow: rgba(0,0,0,0.498) 0px 1px 1px;
    padding-top: 2px;
    padding-bottom: 3px;
    a
      color #fff
.preview-container
  &.article
    .preview-heading
      padding 15px 15px 0px 15px
      .preview-title
        font-size 14px
        font-weight bold
      .preview-date
        color #aaa
        font-size 11px
        margin-top -5px
    .content
      margin 7px 0px
      .preview-text
        font-size 12px
        float left
        width 340px
        margin-left 8px
        margin-right 5px
        ul
          list-style none
          margin 0
      img
        width 100px
        float left
  &.wikipedia
    .wikipedia-container
      padding 15px 15px 0px 15px
      .preview-title
        font-size 14px
        font-weight bold
      .preview-text
        margin-top 5px
        font-size 12px
      .preview-infos
        margin-top 7px
        font-size 8px
        line-height 9px
        .cta-improve-summary
          font-size 10px
          padding 3px 2px
          line-height 10px
          position relative
          top -2px
  &.twitter
    padding 0px
    .description-container
      background-repeat no-repeat
      width 320px
      height 160px
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .twitter-avatar
        width 48px
        height 48px
        border 4px solid #fff
        border-radius 5px
        display block
        margin 10px auto 5px
      .twitter-text
        text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
        color white
        text-align center
        padding 0px 10px
      .twitter-name
        font-size 16px
        font-weight bold
      .twitter-description
        font-size 12px
        line-height 16px
        margin-top 5px
    .stats-container
      margin-top 4px
      .twitter-stats
        float left
        width 105px
        text-align center
        border-left 1px solid #e8e8e8
        .twitter-stats-number
          font-size 14px
          color black
          font-weight bold
        .twitter-stats-description
          color #999
          font-size 10px
          line-height 16px
          text-transform uppercase
  &.youtube
    padding 0px
    .thumbnail-container
      background-repeat no-repeat
      width 320px
      height 160px
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .video-time
        background-color: #000000;
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF !important;
        font-size: 13px;
        font-weight: bold;
        height: 16px;
        line-height: 18px;
        opacity: 0.75;
        padding: 0 5px;
        position relative
        top 139px
        right 10px
        float right
    .youtube-title
      color rgb(51,51,51)
      font-size 13px
      font-weight bold
      margin-left 6px
    .youtube-bar
      width 308px
      margin-left 6px
      .youtube-likes-bar
        float left
        background-color green
        height 3px
      .youtube-dislikes-bar
        float left
        background-color red
        height 3px
    .youtube-view-count
      i
        margin-top 5px
      float right
      margin-right 6px
      font-size 19px
      line-height 24px
      color rgb(51, 51, 51)
    .youtube-stats
      float right
      margin-right 6px
      .youtube-stats-number
        color rgb(102, 102, 102)
        font-size 11px
