
.tldr-preview-popover-d4a6ebe3
  tldr-reset-inline()
  margin-right 4px
  color #f60
/*
 * display none
 *
 * a[href*="/wiki/"]:hover ,a[href*="en.wikipedia.org/wiki/"]:hover
 * .tldr-preview-popover-d4a6ebe3
 *   display inline
 */
