@import 'nib'

tldr-reset()
  background-attachment scroll
  background-color transparent
  background-image none
  background-origin padding-box
  background-position 0px 0px
  background-repeat repeat repeat
  background-size auto
  border-spacing 0
  border 0px solid black
  border-image-source none
  border-radius 0
  box-shadow none
  clear none
  color black
  content normal
  cursor default
  direction ltr
  display block
  float none
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  font-style normal
  font-variant normal
  font-weight normal
  height auto
  letter-spacing normal
  line-height 20px
  margin 0
  max-height none
  max-width none
  min-height 0
  min-width 0
  opacity 1
  outline invert none medium
  overflow visible
  padding 0
  position static
  quotes none
  text-align left
  text-decoration none
  text-indent 0
  text-overflow clip
  text-shadow none
  text-transform none
  unicode-bidi normal
  visibility visible
  white-space normal
  width auto
  widows 2
  word-break normal
  word-spacing normal
  z-index auto
tldr-reset-inline()
  background-attachment scroll
  background-color transparent
  background-image none
  background-origin padding-box
  background-position 0px 0px
  background-repeat repeat repeat
  background-size auto
  border-spacing 0
  border 0px solid black
  border-image-source none
  border-radius 0
  box-shadow none
  clear none
  color black
  content normal
  cursor default
  direction ltr
  display inline
  float none
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  font-style normal
  font-variant normal
  font-weight normal
  height auto
  letter-spacing normal
  margin 0
  max-height none
  max-width none
  min-height 0
  min-width 0
  opacity 1
  outline invert none medium
  overflow visible
  padding 0
  position static
  quotes none
  text-align left
  text-decoration none
  text-indent 0
  text-overflow clip
  text-shadow none
  text-transform none
  unicode-bidi normal
  visibility visible
  white-space normal
  width auto
  widows 2
  word-break normal
  word-spacing normal
  z-index auto
