{{#flashSuccess}}
<div class="alert alert-success">
  {{{flashSuccess}}}
  <button type="button" class="close" data-dismiss="alert">×</button>
</div>
{{/flashSuccess}}

{{#flashError}}
<div class="alert">
  {{{flashError}}}
  <button type="button" class="close" data-dismiss="alert">×</button>
</div>
{{/flashError}}
