<div class="pow-container">
  <div class="pow-text">
    <h4>The community needs you!</h4>
    tldr.io is a community that thrives on user contributions.
    Would you consider being awesome right now and write a tldr of a Hacker News link?
  </div>
  <div class="pow-buttons">
      <button class="btn btn-primary btn-pow-now">
        Sure lets do it!
      </button>
      <button class="btn btn-pow-later">
        I'll do it later
      </button>
</div>
