&middot;
<div class="btn-group dropup">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    Share the article+tldr
  </button>
  <ul class="pull-right dropdown-menu dropdown-menu-share">
    <li>
      <a href="http://www.facebook.com/sharer.php?u={{pageLink}}"
        class="tldr-btn-share fc-webicon facebook small" target="_blank">
        Share on Facebook
      </a>
      <a href="https://twitter.com/intent/tweet?url={{pageLink}}&text={{tweetText}}&related=tldrio"
        class="tldr-btn-share fc-webicon twitter small" target="_blank">
        Tweet
      </a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{pageLink}}&title={{title}}&summary={{summary}}"
        class="tldr-btn-share fc-webicon linkedin small" target="_blank">
        Share on Linkedin
      </a>
      <a href="https://plus.google.com/share?url={{pageLink}}"
        class="tldr-btn-share fc-webicon googleplus small" target="_blank">
        Share on Google+
      </a>
      <a href="mailto:?to=&subject=Read this summary of {{title}}&body={{summary}} {{pageLink}}"
        class="tldr-btn-share fc-webicon mail small" target="_blank">
        Send by email
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <input class="sharing-link" type="text" value="{{pageLink}}" >
    </li>
  </ul>
</div>
&middot;
<div class="btn-group dropup">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    Save for later
  </button>
  <ul class="pull-right dropdown-menu dropdown-menu-share">
    <li>
      <a href="http://www.instapaper.com/hello2?url={{encodedResourceUrl}}&title={{title}}&description={{summary}}"
        class="tldr-btn-share fc-webicon instapaper large" target="_blank">
        Save to Instapaper
      </a>
      <a href="http://getpocket.com/edit?url={{encodedResourceUrl}}&title={{title}}"
        class="tldr-btn-share fc-webicon pocket large" target="_blank">
        Save to Pocket
      </a>
      <a href="http://www.readability.com/save?url={{encodedResourceUrl}}"
        class="tldr-btn-share fc-webicon readability large" target="_blank">
        Save to Readability
      </a>
    </li>
  </ul>
</div>
&middot;
<div class="btn-group dropup">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    Embed
  </button>
  <ul class="pull-right dropdown-menu dropdown-menu-share">
    <li>Embed this tl;dr by copy/pasting this code</li>
    <li>
      <!-- Embed code on the same line so that it doesn't look crappy when copy pasted -->
      <input class="sharing-link" type="text" value='<blockquote class="tldr-embed-widget" data-show-title="true" data-align="center"><p><a href="{{pageLink}}" class="link-to-tldr-page" target="_blank">Summary of "{{title}}"</a> (via <a href="http://tldr.io" target="_blank">tldr.io</a>)<ul>{{#summaryBullets}}<li style="margin-bottom: 10px; line-height: 130%;">{{.}}</li>{{/summaryBullets}}</ul></p></blockquote><script async src="//{{env.host}}/embed/widget-embed.js" charset="utf-8"></script>' >
    </li>
  </ul>
</div>
