{{#alreadyThanked}}
  <span class="thank muted">
    Sent Thanks
  </span>
{{/alreadyThanked}}
{{^alreadyThanked}}
  <button class="btn btn-link thank">
    Thank contributor
  </button>
{{/alreadyThanked}}
