<div class="preview-container {{type}}">
  <div class="wikipedia-container">
    <div class="preview-title">
       {{title}}
     </div>
     <div class="preview-text">
       {{previewText}}
     </div>
     <div class="preview-infos">
       Fetched from <a href="http://en.wikipedia.org" target="_blank">Wikipedia</a> via the <a href="https://duckduckgo.com/?q={{title}}" target="_blank">DuckDuckGo</a> API.
     </div>
  </div>
 </div>
