<div class="preview-container {{type}}">
  <div class="thumbnail-container" style="background-image:url({{data.thumbnail}});"> 
    <span class="video-time">{{data.duration.minutes}}:{{data.duration.seconds}}</span>
  </div>
  <div class="row-fluid">
    <div class="youtube-title"> {{data.title}} </div>
  </div>
  <div class="row-fluid">
    <div class="youtube-view-count">
      <i class="icon-eye-open"></i>
      <span class="youtube-stats-number"> {{data.viewCount}} </span>
    </div>
  </div>
  <div class="row-fluid">
    <div class="youtube-bar">
      <div class="youtube-likes-bar" style="width:{{data.likePercentage}}%"> </div>
      <div class="youtube-dislikes-bar" style="width:{{data.dislikePercentage}}%"> </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="youtube-stats">
      <span class="youtube-stats-number">
        <i class="icon-bullhorn"></i>
        <span class="youtube-stats-number"> {{data.commentCount}} </span>
      </span>
      <span class="youtube-stats-number">
        <i class="icon-thumbs-up"></i>
        <span class="youtube-stats-number"> {{data.likeCount}} </span>
      </span>
      <span class="youtube-stats-number">
        <i class="icon-thumbs-down"></i>
        <span class="youtube-stats-number"> {{data.dislikeCount}} </span>
      </span>
    </div>
  </div>
</div>
