<div class="row-fluid control-group edit-bullet-container">
  <span class="span1 edit-bullet-icon"><i class="icon-stop"></i></span>
  <div class="span10 edit-bullet-wrapper">
    <div class="expandingArea active">
      <pre><span></span><br></pre>
      <textarea class="span12 edit-bullet" placeholder="Add a key point from this page"></textarea>
    </div>
  </div>
  <span class="help-block tldr-error-msg"></span>
</div>
