<div class="row-fluid control-group edit-bullet-container">
  <span class="edit-bullet-icon">-</span>
  <div class="edit-bullet-wrapper">
    <div class="expandingArea active">
      <pre><span></span><br></pre>
      <textarea class="edit-bullet" placeholder="Add a key point from the article"></textarea>
    </div>
  </div>
</div>
