
<div class="row-fluid">
  <div class="span12">
    <div class="alert congrats-message-logged">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p>
        {{congratsMessage}}
      </p>
      <img src="assets/img/reward{{randomImg}}.jpg" width="250px">
    </div>
  </div>
</div>

