<span class="span1 trash-bullet-icon">
  <div class="character-count">1/{{maxBulletLength}}</div>
  <a class="btn btn-small edit-delete-bullet" href="#" tabindex="-1">
    <i class="icon-trash"></i>
  </a>
</span>
