<div class="control-group read-summary-guidelines">
  <a href="#" class="display-guidelines" tabindex="-1"><small>How to write a great summary?</small></a>
  <div class="guidelines-container">
    <div class="alert alert-block alert-info">
      <button type="button" class="close">×</button>
      <h4>
        How to write a great summary?
      </h4>
      <div class="guidelines">
        <ul class="guidelines-list">
          <li>Summarize, <strong>don't comment</strong></li>
          <li>Don't give your opinion</li>
          <li>Don't add anything that is not on the page</li>
          <li>Be clear and concise, use simple grammar and vocabulary</li>
          <li>Make sure your summary is understandable as a whole</li>
        </ul>
        <button type="button" class="btn btn-info btn-small">Ok I get it!</button>
      </div>
    </div>
  </div>
</div>
