To reset your password, you need to enter your email address below. We'll send the password reset instructions to this address.<br><br>

<div class="row">
  <div class="span12">
    {{>flash}}
    <form class="form-horizontal" target="#">
      <fieldset>
        <div class="control-group">
          <label class="control-label">Your email here: </label>
          <div class="controls">
            <input type="text" class="email-to-send-reset input-xlarge" name="email">
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Send 'reset password' email" class="submit-button btn btn-primary">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
