{{^reset}}
Please enter your new password below. Remember it has to be at least 6 characters long!<br><br>

<div class="row">
  <div class="span12">
    {{>flash}}
    <form class="form-horizontal" target="#">
      <input type="hidden" class="email" value="{{email}}">
      <input type="hidden" class="resetPasswordToken" value="{{resetPasswordToken}}">

      <fieldset>
        <div class="control-group">
          <label class="control-label">Choose your new password</label>
          <div class="controls">
            <input type="password" class="new-password-field input-xlarge" name="newPassword">
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit" class="submit-button btn btn-primary">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{{/reset}}
{{#reset}}
  {{>flash}}
  <a href="account">Go back to my account</a>
{{/reset}}
