<header class="marketing">
  <h1>Join us</h1>
  <p class="marketing-byline">Be somebody on tl;dr and gain the ability to contribute!</p>
</header>

{{>flash}}
<form class="website-signup-form" id="signup-form" target="#">
  <fieldset>
    <span class="form-title">The old school way:</span>
    <div class="control-group">
      <label class="control-label" for="signup-form-username">Pick a username</label>
      <div class="controls">
        <input type="text" class="input-large" name="username" id="signup-form-username" value="{{username}}">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="signup-form-email">Enter your email</label>
      <div class="controls">
        <input type="text" class="input-large" name="email" id="signup-form-email" value="{{email}}">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="signup-form-password">Choose a password</label>
      <div class="controls">
        <input type="password" class="input-large" name="password" id="signup-form-password" value="{{password}}">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary" id="signup-form-submit">
      </div>
    </div>
    {{#returnUrl}}
    <div class="control-group">
      <div class="controls">
        <a href="/login?warning=false{{returnUrl}}">Already a member? Log in here</a>
      </div>
    </div>
    {{/returnUrl}}
  </fieldset>
</form>
<form class="website-signup-form" id="signup-form-google" action="/third-party-auth/google" method="get" style="float:left;">
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <span class="form-title">Or the new hip way:</span>
        <button type="submit" class="btn btn-primary signup-with-google-button" id="signup-with-google-button">Sign up with Google <span class="login-with-google-spinner"></span></button>
      </div>
    </div>
  </fieldset>
</form>
