#badass
  h1
    text-align left
  .nav-pills
    text-align center
    > li
      float none
      display inline-block
  i
    opacity 0.5
  .user-stat
    margin-left 35px

.chart
  margin-top 50px
  h2
    margin-bottom -50px

.bar-chart rect {
  stroke: white;
  fill: #ff9e5d;
  shape-rendering: crispEdges;
  cursor: pointer;
}

.axis path, .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.tick.major
  color #666
  font-size 12px

.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 37px;
  padding: 2px;
  border: 2px solid #ffd6ba;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  color black
  pointer-events: none;
}

.image-and-motivational-text
  text-align center
