@import 'nib'
/* Extension page
-------------------------------------------------- */

#hacker-news-container
  #hacker-news-main-table
    box-shadow 1px 1px 27px rgba(0,0,0,0.5)
    font-family Verdana
    font-size 10pt
    background-color #F6F6EF
    color black
    line-height normal
    tbody
      .subtext
        font-size 7pt
        color #828282
      .comhead
        font-size 8pt
        color #828282
      .tldr-label-d4a6ebe3
        a
          color white
      td
        .tldr-label-d4a6ebe3
          a:visited
            color white
        a:visited
          color #828282
          text-decoration none
        .pagetop
          a:visited
            color black
            text-decoration none

#landing-extension-wrapper
  position relative
  margin-top 36px
  margin-top 36px
  margin-bottom 40px

.tldr-base-unit-2
  background whitesmoke
  border 1px solid gainsboro
  box-shadow 1px 1px 14px rgba(0, 0, 0, 0.2)
  padding 10px 40px

