
/* Notifications
-------------------------------------------------- */

#notifications-container {
  width 550px
  margin 0 auto
}


#notifications-collection {
  background-color whiteSmoke
  border 1px solid gainsboro
  padding-top 15px
  padding-bottom 15px
}

.notification-list-el {
  list-style none
  padding 8px 0px 8px 20px
  a {
    color black
  }
  a:hover {
    color grey
  }
}

.notification-separator {
  margin 5px 20px 5px 20px
  height 2px
  border-bottom 1px solid gainsboro
}

.notification-separator:last-child {
  display none
}

.notification-text {
  width 450px
  float left
}

.notification-date {
  font-size 11px
  color #939393
  width 200px
}

.unseen-notifs-count {
  background-color #F60
}

.unseen-notification {
  border-left 3px solid #F60
}

#mark-all-notifications-read {
  display block
  margin 0px 0px 12px auto
}

.mark-notification-read {
  float left
  cursor pointer
  margin-left 10px
}

