.website-signup-form
  float left
  width 220px
  .form-title
    display block
    margin-bottom 5px
    line-height 35px
    font-size 19px
    font-weight bold

#signup-form
  float left
  margin-right 38px
  margin-left 20px
  border-right 1px solid #bbb
  padding-right 36px
