@import 'nib'

.tldr-base-unit
  background whitesmoke
  border 1px solid gainsboro
  box-shadow 1px 1px 14px rgba(0, 0, 0, 0.2)
  padding 20px
  margin 0 auto
  max-width 840px

.latest-tldrs-created
  #tldr-popover-d4a6ebe3
    padding-bottom 15px
    padding-right 15px
  .label.tldr-label-d4a6ebe3
    margin-left -4px
  .unstyled
    p
      margin-right 10px
    li
      line-height 28px
      .tldr-title-ellipsis
        float left
        a
          color #333
          text-decoration none

.tldr-creator
  a
    color #333

.tldr-metadata-tldrs
  margin-left 20px
  margin-top -7px
  color #666
  font-size 11px
  font-weight 300
  line-height 18px

.tldr-icon
  width 15px
  height 15px
  float left
  margin-right 4px
  margin-top 6px
  border-radius 2px

#graphic-helper-badge
  top -9999px
  left -9999px
  pointer-events none
  display none

.tldr-title-wrapper
  overflow auto
