@import 'nib'

.vcard
  .avatar
    margin-top 20px
  h1
    font-size 30px
  hr
    margin 0
  .dl-horizontal
    dd
      margin-left 125px
    dt
      text-align left
      width 125px

.user-latest-tldrs
  float left
  margin-left 50px
  max-width 570px
  .tldr-title-ellipsis
    max-width 350px
