@import 'nib'

/* tldr created
-------------------------------------------------- */
#created-tldrs-collection
  list-style-type none


/* Account
-------------------------------------------------- */

//custom label class for horizontal form
//necessary with the 3rd party toggle buttons we use
.form-horizontal .label-notification
  float left
  width 350px
  padding-top 5px
  text-align left
  margin-right 20px

#account-change-notif  .control-group
  margin-left 50px

